<!DOCTYPE html>
<html lang="en">
<head>
<title>{{t}}</title>
</head>
<body>
<h1>{{h}}</h1>
    {% if a1 %}
    <h3>Result of the Search : List of all companies in Paranuara</h3>
        Total Number of Companies: {{ get_all_company_data.__len__() }} <br>
        <br>
        {% for todo in get_all_company_data %}

                Name : {{ todo["company"] }}<br>

        {% endfor %}

{% elif a2 %}
    <h3>Result of the Search : Details of {{ a2 }}</h3>
        <br>
        {% for todo in get_all_company_data %}

                Name : {{ todo.a2 }}<br>



        {% endfor %}
{% else %}
		<h4>No Result Found !!</h4>
{% endif %}
</body>
</html>